name: Publish to NPM

on:
    push:
        tags:
            - "v*"
permissions:
    id-token: write
    contents: read

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4

            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: 1.3.5

            - uses: actions/setup-node@v4
              with:
                  node-version: "24"
                  registry-url: "https://registry.npmjs.org"

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build
              run: bun run build
              working-directory: packages/vite-plugin-envsubst

            - name: Publish to NPM
              run: bunx npm publish --provenance
              working-directory: packages/vite-plugin-envsubst
